.navbar {
    display: flex;
    flex-direction: row;
    background-color: hsla(262, 100%, 20%, 0.6);
    border-radius: 0;
    padding: 0;
    position: relative;
    z-index: 10;
}

.navbar-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border: .2rem solid hsl(0, 0%, 100%);
    border-radius: 10%;
    padding: 10px;
    margin-left: 15px;
    margin-top: 10px;
    margin-bottom: 10px;
    color: hsl(0, 0%, 100%);
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
}

.navbar-item:hover {
    color:hsl(0, 0%, 60%);
    border: .2rem solid hsl(0, 0%, 60%);
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}